.aboutBox {
 text-align:center;
  min-width:20vw;
  max-width:40vw;
  padding-bottom:5vh;
}

.textBox {
  padding:1vw;
  min-width:40vw;
}

.infos {
  padding-top:1vh;
 text-align:left;
  font-size:2vh;
}

.profile { 
  padding:1vw;
  text-align:center;
  font-size:4vh;
}

.titled {
  border-bottom-style:solid;
  font-size:3vh;
  text-align:left;
}
