.article-list {
  min-height:70vh;
  list-style-type: none;
  padding: 0;
}

.article-list li {
  margin: 10px 0;
  padding:1vh;
  border-left:solid;
  border-color:#99FF99;

}
.artDate {
  color:Silver;
  padding-top:1vh;
  font-size:15px;
}
.artHead {
  text-align:center;
  padding-bottom:1vh;
}
.article-list button {
  font-size:3vh;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.article-list button:hover {
  text-decoration: none;
}

.backArt {
  font-size:2vh;
  background: none;
  padding-bottom:3vh;
  border: none;
  color: #99FF99;
  cursor: pointer;
}
.artBox {

}

