* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x:hidden;
  box-sizing:border-box;
  width: 100vw;
  min-width: 100vw;
  min-height:100vh;
  height:100vh;
  scroll-behavior: smooth;
  height:100%;
  background-color:#2B2730;
  color:white;
  padding-bottom:0px;
  padding-top:0px;
}

.content {
 flex:1; 
}

a {
  color: inherit;
  text-decoration: none;
}


